* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgray;
}

header {
    background: #333;
    color: white;
    padding: 22px;
    min-height: 80px;
}

.wrapper {
    max-width: 960px;
    margin-inline: auto;
}

.hero {
    background-image: url(images/theBobs2.jpg), url(images/planksInstall.jpg);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;   
}

.section {
    padding: 40px;
    border: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.gallery-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
   
}
.contact {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.img {
    display: block;
    max-width: 100%;
}